body {
    background-color: white;
    background-image: url(/imagens/fundo.png);
    align-content: center;
}
a {
    text-align: right;
    display: flex;
    margin-right: 200px;
}
header{
    margin-top: 25px;
    margin-right: 200px;
    display: flex;

}
.logo {
    display: block;
    margin-left: 200px;
    margin-right: auto;
    }
.center {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

p { 
    text-align: center;
    font-size: 16px;
    margin-left: 200px;
    margin-right: 200px;
}
footer {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: #383f5d;
}
